Flask>=0.10.1
gunicorn
autoenv
psycopg2
Flask-SQLAlchemy
Flask-Migrate
Flask-Script
Flask-WTF
Flask-Testing
flask-cors
flask-restful
SQLAlchemy
alembic
simplejson
anyjson
Werkzeug
Mako
flask-marshmallow
marshmallow-sqlalchemy
bcrypt
Flask-Bcrypt
itsdangerous
pyjwt
cffi
pycparser
nose2
celery[redis]
flower
